# deps
node_modules/
.pnp.*

# env
.env
.env.local
.env.*.local

# builds
dist/
out/
.next/
.turbo/
build/

# foundry
contracts/out/
contracts/cache/
contracts/broadcast/**/dry-run/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/

# misc
coverage/
*.tsbuildinfo
